.sunMask{position:absolute;width:100%;height:100%;-webkit-mask-image:-webkit-gradient(linear, left 50%, left 60%, from(#000), to(rgba(0,0,0,0)));z-index:4;mix-blend-mode:screen;-webkit-animation-name:sunFocus}
