body {
	margin: 0;
	background-color: #000;
	position: fixed;
	height: 100%;
	width: 100%;
}
#fireflies {
	position: absolute;
	z-index: 4;
	overflow: hidden;
	top: 0;
}
#foreground {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	bottom: 0;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -50%;
		right: -50%;
		width: auto;
		margin: auto;
		height: 100%;
	}
}
#fireworks {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	top: 0;
}
#stars {
	position: absolute;
	z-index: 1;
	overflow: hidden;
	top: 0;
}
#background {
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
	}
}